.header__lang-link {
  font-weight: normal;
  font-size: 18px;
  line-height: 111%;
  color: #ffffff;
  text-decoration-line: underline;
}

.header__lang-link:last-child {
  text-decoration-line: none;
}

@media (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
    text-align: right;
  }
}
