.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 288px));
  grid-template-rows: repeat(auto-fill, 216px);
  gap: 16px 16px;
  /* max-width: 1184px; */
  box-sizing: border-box;
  margin-bottom: 64px;
  /* padding: 92px 48px; */
}

@media (min-width: 768px) {
  .photo-grid {
    margin-bottom: 88px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 352px));
    grid-template-rows: repeat(auto-fill, 264px);
  }
}

@media (min-width: 1024px) {
  .photo-grid {
    margin-bottom: 92px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 300px));
    grid-template-rows: repeat(auto-fill, 225px);
    gap: 14px 14px;

  }

@media (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 284px));
    grid-template-rows: repeat(auto-fill, 213px);
    gap: 16px 16px;
  }
}
