.places__image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  margin-bottom: 32px;
}


@media (min-width: 768px) {
  .places__image {
    /* max-width: 340px; */
    padding: 0;
  }
}


@media (min-width: 1024px) {
  .places__image {
    /* max-width: 440px; */
   
  }
}

@media (min-width: 1280px) {
  .places__image {
    /* max-width: 460px; */
  }
}




