.places__title {
  margin: 0;
  margin-bottom: 32px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: 32px;
  line-height: 109%;
  color: #FFFFFF;
  display: flex;  
  align-items: flex-end;
}

@media (min-width: 768px) {
  .places__title {
    margin-bottom: 48px;
    font-size: 42px;
    line-height: 110%;
    }

@media (min-width: 1024px) {
  .places__title {
    font-size: 72px;
    line-height: 106%;
  }