.lead {
  font-family: "Inter", "Arial", "sans-serif";
  color: #ffffff;
  margin-bottom: 64px;
  
}

@media (min-width: 768px) {
  .lead {
    margin-bottom: 88px;
  }
}

@media (min-width: 1024px) {
  .lead {
    margin-bottom: 92px;
  }
}
