.cover__subtitle {
  margin: 0;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  max-width: 260px;
  
}

@media (min-width: 500px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 122%;
    max-width: 360px;
  }
}

@media (min-width: 1024px) {
  .cover__subtitle {
   
  }
}



@media (min-width: 1280px) {
  .cover__subtitle {
    
  }
}
