.lead__subtitle {
margin-bottom: 40px;
font-weight: 400;
font-size: 16px;
line-height: 125%;
max-width: 288px;



  text-align: center;
  white-space: pre-line;

}

@media (min-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 56px;
    max-width: 640px;
  }
}



