.lead__subtitle {
  margin-bottom: 40px;
  margin-block-start: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  max-width: 288px;
  text-align: center;
}

@media (min-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 56px;
    max-width: 640px;
  }
}

@media (min-width: 1280px) {
  .lead__subtitle {
    margin-bottom: 64px;
  }
}
