.cover__title {
  color: inherit;
  margin: 0 0 16px 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 109%;
  text-align: center;
  min-width: 288px;
}

@media (min-width: 500px) {
  .cover__title {
    font-size: 72px;
    line-height: 106%;
    min-width: 560px;
  }
}

@media (min-width: 1024px) {
  .cover__title {
  }
}

@media (min-width: 1280px) {
  .cover__title {
  }
}
