.container {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
  }
  
  @media (min-width: 768px) {
    .container {
      padding: 0 24px;
      flex-direction: row; /*для футера на разрешениях от 768 */
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      padding: 0 48px;
    }
  }
  
  @media (min-width: 1280px) {
    .container {
      padding: 0;
      
    }
  }
  


  .container_small {
    max-width: 984px;
  }

  .container_big {
    max-width: 1184px;
  }