.places__url-heading {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.2em;
  color: #aaaaaa;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .places__url-heading {
    line-height: 170%;
  }
}
